<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBoot示例 - 登录</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>
<style>

</style>
<body class="gray-bg">

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name" style="margin-left: -12%;">Dusty</h1>
        </div>
        <p>创建一个新账户</p>
        <form id="registerForm" class="m-t" role="form" onsubmit="" method="post" action="/doRegister">
            <div class="form-group">
                <input type="text" name="userName" class="form-control input-lg" placeholder="请输入用户名" required="">
            </div>
            <div class="form-group"><!--手机格式校验-->
                <input id="mobile" type="tel" oninvalid="setCustomValidity('请输入正确格式的手机号码！');" pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$" name="phone" class="form-control input-lg" placeholder="请输入手机号码" required="">
            </div>
            <div class="form-group">
                <input id="password" type="password" name="password" class="form-control input-lg" placeholder="请输入密码" required="">
            </div>
            <!--<div class="form-group">-->
                <!--<input id="passwordConfig" type="password" class="form-control input-lg" placeholder="请再次输入密码" required="">-->
            <!--</div>-->
            <!--<div class="form-group text-left">-->
                <!--<div class="checkbox i-checks">-->
                    <!--<label class="no-padding">-->
                        <!--<input type="checkbox"><i></i> 我同意注册协议</label>-->
                <!--</div>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary block full-width m-b input-lg">注 册</button>
            <p class="text-muted text-center"><small>已经有账户了？</small><a href="../login">点此登录</a></p>

        </form>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/Jquery-form.js}"></script>
<script>
    $(function(){
        /** 验证是否注册成功  */
        $("#registerForm").ajaxForm(function(data){
            if(data.code=="200"){
                alert("注册成功！");
                window.location.replace("/login") ;
            }else {
                alert("注册失败 :" + data.msg );
            }
        });
    });
</script>
</body>
</html>